<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='classement.css') }}">
</head>
<body>
    {% include "navbar.html" %}
    <div>
        <h1>Classements : </h1>
    </div>
    <div class="container">
        <div class="dropdown-container">
            <select id="stats" name="stats" data-dropdown>
                <option value=""> Sélectionnez une Stat</option>
                <option value="1"> Matchs Jouées</option>
                <option value="2"> Minutes Jouées</option>
                <option value="3"> Pourcentage aux tirs</option>
                <option value="4"> Pourcentage aux tirs à 3 points</option>
                <option value="5"> Pourcentage aux lancers francs</option>
                <option value="6"> Rebonds offensifs</option>
                <option value="7"> Rebonds défensifs</option>
                <option value="8"> Rebonds</option>
                <option value="9"> Passes décisives</option>
                <option value="10"> Ballons perdus</option>
                <option value="11"> Interceptions</option>
                <option value="12"> Contres</option>
                <option value="13"> Fautes</option>
                <option value="14"> Points</option>
            </select>
        </div>

        <div class="dropdown-container">
            <select id="teams" name="teams">
                <option value="all"> tout les joueurs</option>
                {% for team in teams_nba %}
                    <option value="{{ team }}"> {{ team }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    

    <div class="table-container">
        <table class="style-table">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function(){
            // Utiliser jQuery pour détecter les changements dans le dropdown
            $("#stats, #teams").change(function(){
                var selectedStats = $("#stats").val();
                var selectedTeams = $("#teams").val();
                
                // Faire une requête Ajax pour obtenir les données du thead et du tbody
                $.ajax({
                    type: "POST",
                    url: "/top10",
                    data: {
                        "selected_option_stats": selectedStats,
                        "selected_option_teams": selectedTeams
                    },
                    success: function(response){
                        // Mettre à jour le thead et le tbody avec les nouvelles données
                        $("thead").html(response.head);
                        $("tbody").html(response.body);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
    
     
</body>
</html>
