<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <style>
        h1, a {
            margin-bottom: 20px; 
        }

        img {
            width: 200px;
            height: 300px;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div style="padding: 20px;">
        <h1>Home:</h1>
        <img src="{{ image }}" alt="NBAImage">
    </div>
</body>
</html>

